In [ ]:
from maverick import Deck, Hand
from maverick.utils import score_hand
import pandas as pd

deck = Deck.standard_deck(shuffle=True)
all_possible_hands = list(Hand.all_possible_hands(deck.cards))

In [14]:
hands_data = []
for hand in all_possible_hands:
    cards = hand.private_cards + hand.community_cards
    hand_type, score = score_hand(cards)
    hand_data = {
        "hand": " ".join([f"{c.rank.value}{c.suit.value}" for c in cards]),
        "score": score,
        "hand_type": hand_type.name
    }
    hands_data.append(hand_data)

In [15]:
df = pd.DataFrame(hands_data)
df.head()

              hand    score        hand_type
0   5D 9S 7H 9H 6S  24.0765             PAIR
1  5D 9S 7H 9H 10D  24.1075             PAIR
2  5D 9S 7H 9H 10H  24.1075             PAIR
3   5D 9S 7H 9H 3S  24.0753             PAIR
4   5D 9S 7H 9H 9C  61.0050  THREE_OF_A_KIND

In [16]:
df.to_csv("hand_scores.csv", index=False)

In [17]:
import pandas as pd
df = pd.read_csv("hand_scores.csv")
df.head()

              hand    score        hand_type
0   5D 9S 7H 9H 6S  24.0765             PAIR
1  5D 9S 7H 9H 10D  24.1075             PAIR
2  5D 9S 7H 9H 10H  24.1075             PAIR
3   5D 9S 7H 9H 3S  24.0753             PAIR
4   5D 9S 7H 9H 9C  61.0050  THREE_OF_A_KIND

In [18]:
df['hand_type'].unique()

array(['PAIR', 'THREE_OF_A_KIND', 'TWO_PAIR', 'HIGH_CARD', 'STRAIGHT',
       'FULL_HOUSE', 'FOUR_OF_A_KIND', 'FLUSH', 'STRAIGHT_FLUSH'],
      dtype=object)

In [19]:
df_pairs = df[df['hand_type'] == 'PAIR']
df_drills = df[df['hand_type'] == 'THREE_OF_A_KIND']

In [22]:
assert df_pairs["score"].max() < df_drills["score"].min()